body {
    background-image: url("https://ctrhome.github.io/img/bgr.avif"),url("https://ctrhome.github.io/img/bgr2.avif");
    background-color: #5d9134;
    background-size: 100vmax, 100vmax;
    background-repeat: no-repeat, repeat;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    color: white;
    font-family:GoodDog_New;
}

@font-face {
    font-family: 'GoodDog_New';
    src: url('../../fonts/gooddog_new/gooddp__-webfont.woff2') format('woff2'), url('../../gooddog_new/fonts/gooddp__-webfont.woff') format('woff'), url('../../gooddog_new/fonts/gooddp__-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logo {
    height: 50vmin;
}
