body {
    background-image: url("https://ctrhome.github.io/img/bgr.avif"),url("https://ctrhome.github.io/img/bgr2.avif");
    background-color: #5d9134;
    background-size: 100vmax, 100vmax;
    background-repeat: no-repeat, repeat;
}

.logo {
    height: 50vmin
}